body{
	font-family: Verdana, sans-serif;
	margin: 0;
	padding: 0;
	margin:0;
	background-color: #1c1f21;
}

h1{
	font-size: 48px;
	background: #fff9f9;
	margin: 0;
}

#container{
	width:915px;
	padding:0;
	margin:0 auto;
	background: #36393f;
}

#cont_1{
	width:660px;
	float:left;
	padding:0;
	margin:0;
}

img{	
	float:right;
	margin-top:-339px;
	width:542px;
	height:338px;
}

#footer{
	clear:left
}
